body{
    background-color: rgb(194, 194, 194);
    padding: 30px;
    border: 30px;
}
footer{
    display: flex;
    align-items: center;
    background-color: black;
    justify-content: center;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(151, 147, 147);
    padding: 20px;
    text-align: start;
    position: sticky;


}
.navegador{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    color: white;
}

img{
    display: inline;
}
a{
    color: black;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    border-radius: 10%;
}

h1{
    font-family: 'Ruwudu', serif;
    font-size: 40px;
    display: flex;
}
h2{
    font-family: 'Libre Baskerville', serif;
    font-size: 40px;
    color: rgb(41, 39, 39);
}
p{
    display: flex;
    font-family: 'Libre Baskerville', serif;
}

.Fotosintegrantes{
    width: 450px ;
    height:300px ;
}
.Iconoalbum {
    width: 400px ;
    height: 400px ;
}
#Fotobanda{
    width: 600px;
    height: 400px;
    padding: 50px 5px 100px 50px;

}
#parrafo1{
    margin-left: 10px;
    font-size: 20px;
}
#ultimovideo{
    margin-bottom: 10px;
}
#Albumes{
    display: grid;
    grid-template-columns: 480px 480px ;
    grid-template-rows: 800px ;
    grid-gap: 30px ;
    justify-content: center;
}
#articuloinicio{
    display: flex ;
    justify-content: space-around;
}

section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
html{
    background-color: rgb(39, 39, 39);
}
#h2{
    margin: 10px;
    padding: 10px;
}
#imagenbienvenida{
    display: flex;
    justify-content: center;
}
#ultimovideo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 30px;
}
.titiloalbum{
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.banner{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.articulos{
    display: flex;
    flex-direction: column;
    margin-left: 80px;

}
#seasons{ 
    margin-left: 80px;
}
#bienvenida{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.piedepagina{
    color: aliceblue;
}
#Recitales{
display: flex;
padding: 30px;
justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    padding-block: 20px;
}
.lista{
    display: flex;
    top: 0%;
    padding-right: 20px;
    font-size: 30px;
}
ol{
    margin-left: 110px;
    margin-bottom: 30px;
}
@media (max-width: 768px){
    html{
        background-color: rgb(194, 194, 194);
    }
    main{
        display: flex;
        flex-wrap: wrap;
    }
    .banner{
        flex-direction: row;
        flex-wrap: wrap;
    } 
    a{
        justify-content: center;
        padding-left: 25px;

    }
    .navegador{
        padding-bottom: 50px;
        display: flex;
        justify-content:left ;
        width: fit-content;
        font-size:small
    
    }
    h1{
        font-size: 55px;
        margin-top: 80px;
        justify-content: center;
    }
    header{
        flex-direction: column;
        height:180px;
        padding: 20px;
        border-radius: 20px;

    }
    a{
        justify-content: left;
        width: fit-content;
        font-size: 15px;
        padding-top: 0px;
    }
    .piedepagina{
        padding-left: 10px; 
        padding-right: 10px;
        margin-left: 10px;
    }
    .Iconoalbum{
        width: 250px;
        height: 250px;
    }
}