header {
  padding: 20px;
  position: sticky;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  background-color: grey;
  text-align: start;
  align-items: none;
}
@media screen and (max-width: 768px) {
  header {
    padding-left: 10px;
  }
}

.navegador {
  list-style: none;
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-evenly;
  background-color: white;
  text-align: none;
  align-items: none;
}

ul {
  padding-block: 20px;
  display: flex;
  flex-flow: none none;
  justify-content: space-between;
  background-color: none;
  text-align: none;
  align-items: none;
}
ul li {
  padding-right: 20px;
  font-size: 20px;
  display: flex;
  flex-flow: none none;
  justify-content: none;
  background-color: none;
  text-align: none;
  align-items: none;
}
ul li a {
  text-decoration: none;
  font-size: 20px;
  border-radius: 10%;
  display: flex;
  flex-flow: none none;
  justify-content: space-between;
  background-color: black;
  text-align: none;
  align-items: none;
}

.banner {
  display: flex;
  flex-flow: nowrap row;
  justify-content: none;
  background-color: none;
  text-align: none;
  align-items: none;
}
@media screen and (max-width: 768px) {
  .banner {
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  .banner {
    justify-content: center;
  }
}
.banner #bienvenida {
  display: flex;
  flex-flow: wrap row;
  justify-content: none;
  background-color: none;
  text-align: center;
  align-items: none;
}
.banner #bienvenida #h2 {
  margin: 10px;
  padding: 10px;
}
.banner #bienvenida #h2 #parrafo1 {
  margin-left: 10px;
  font-size: 20px;
}

#ultimovideo {
  display: flex;
  flex-flow: wrap column;
  justify-content: none;
  background-color: none;
  text-align: none;
  align-items: center;
  padding-bottom: 20px;
  margin-left: 150x;
  padding-top: 20px;
}
@media screen and (max-width: 768px) {
  #ultimovideo {
    width: 500px;
    height: 400px;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  #iframe {
    width: 400px;
    height: 300px;
    justify-content: center;
    margin-left: 90px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  #iframe {
    justify-content: center;
    width: 500px;
    height: 300px;
    margin-left: 20px;
  }
}

footer {
  display: flex;
  flex-flow: none none;
  justify-content: center;
  background-color: black;
  text-align: center;
  align-items: center;
}
footer .piedepagina {
  color: aliceblue;
}
@media screen and (max-width: 768px) {
  footer {
    width: 550px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  footer {
    margin-left: 0px;
  }
}

body {
  background-color: rgb(194, 194, 194);
  padding: 30px;
  border: 30px;
}
@media screen and (max-width: 768px) {
  body {
    width: 600px;
    margin-left: 80px;
  }
}
@media screen and (max-width: 768px) and (max-width: 480px) {
  body {
    width: 600px;
    margin-left: 0;
  }
}

.carrusele {
  width: 2500px;
  margin-left: 90px;
}
@media screen and (max-width: 768px) {
  .carrusele {
    margin-left: 0px;
  }
}

#Albumes {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#Albumes .titiloalbum {
  font-size: 30px;
  display: flex;
  justify-content: center;
}

.Iconoalbum {
  width: 300px;
  height: 300px;
  margin-left: 150px;
}

ol {
  margin-left: 110px;
  margin-bottom: 30px;
  padding-left: 150px;
  padding-top: 20px;
}

.fotointegrante {
  display: flex;
  width: 500px;
  height: 300px;
  padding-bottom: 20px;
}

#Recitales {
  display: grid;
  grid-template-columns: auto auto;
}
@media screen and (max-width: 768px) {
  #Recitales {
    display: flex;
    flex-direction: column;
  }
  #Recitales iframe {
    width: 450px;
    height: 300px;
    margin-top: 20px;
  }
}
@media screen and (max-width: 480px) {
  #Recitales {
    width: 400px;
  }
}

.logonav {
  width: 100px;
  height: 100px;
}

/*# sourceMappingURL=styles.css.map */
